beautifulsoup4==4.12.3
bitsandbytes==0.43.1
causal_conv1d==1.4.0
chromadb==0.5.0
deepspeed==0.14.1
einops==0.8.0
fitz==0.0.1.dev2
FlagEmbedding==1.2.10
msgpack_python==0.5.6
numpy==1.26.4
packaging==24.1
pandas==2.2.2
playwright==1.44.0
pytorch_lightning==1.9.5
PyYAML==6.0.1
pyzmq==26.0.3
rwkv==0.8.26
streamlit==1.35.0
torch==2.2.2
transformers==4.42.3
triton==2.2.0
zmq==0.0.0
wandb==0.17.6
tools==0.1.9
pytils==0.4.1
frontend==0.0.1

